[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell LookNFeel/liquid
Icon=style
Type=Application
DocPath=kcontrol/liquid.html

X-KDE-ModuleType=Library
X-KDE-Library=liquid
X-KDE-FactoryName=liquid

Name=Mosfet's Liquid
Comment=Liquid configuration
Keywords=liquid,mosfet,colors,colours,scheme,menu,transparent,translucent
# vi: encoding=utf-8
